.customCheckbox:before {
    display: inline-block;
    position: relative;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    top: -30%;
    left: -70%;
    border: 1px solid #555;
    content: '';
	background: #FFFFFF;
	box-sizing: border-box;
}

.customCheckbox:checked:before {
    border: 1px solid #555;
	box-sizing: border-box;
    text-align: center;
    background:  white url(../../images/completed.png) no-repeat 0 0;
}
.customCheckbox:checked+span {
	color: grey;
	text-decoration:line-through;
}