body {
	font-family: 'Helvetica Neue', Arial, sans-serif;
    width: 100%;
    height: 100%;
    top: 0;
    margin: 0;
    left: 0;
    display: flex;
    background: #f4f4f4;
}
.mainLayout {
    max-width: 100%;
    min-width: 40%;
    margin: 0 auto;
}
.todosBoard{
    border: 1px solid #E6E6E6;
    box-shadow: 0 2px 16px rgba(0,0,0,.2);
    background: #ffffff;
    padding: 10px;
}
