.todos-creator_text-input {
            border: none;
            background: none;
            outline: none;
            padding-left: 2%;
            width: 98%;
            font-size: 24px;
}
.todos-creator {
    display: flex;
}

.todos-creator_check-all {
    float: left;
    margin-left: 15px;
    margin-top: 10px;
    width: 24px;
    height: 12px;
    border: none;
    outline: none;
    background: url(../../images/select-all.png) no-repeat 0 0;

}